@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/topicos.css");
@import url("styles/rodape.css");
@import url("styles/login.css");
@import url("styles/produtos.css");
@import url("styles/adicionar-produtos.css");
@import url("styles/erro.css");

:root {
    --cinza: #464646;
    --branco: #FFFFFF;
    --azul: #2A7AE4;
    --fundo: #EAF2FD;
    --fundo-pesquisa: #F5F5F5;
    --placeholder: #A2A2A2;
    --sombra: 0 5px 10px #55a6ff38;

    --fonte-principal: 'Raleway', sans-serif;
}