.banner {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url("../img/Banner.png");
    padding: 5em 0 2em 1em;
    background-position: center;
    background-size: cover;
    width: 96.5%;
}

.banner__titulo {
    color: var(--branco);
    font-size: 22px;
    font-weight: 700;
    margin: 0.5em 0;
}

.banner__texto {
    color: var(--branco);
    font-weight: 600;
    margin-bottom: 1.5em;
}

.banner__link {
    color: var(--branco);
    background-color: var(--azul);
    padding: .75em 1em;
    text-decoration: none;
    width: 40%;
    cursor: pointer;
    border: none;
}

@media screen and (min-width: 768px) {
    .banner {
        width: 98%;
    }

    .banner__titulo {
        font-size: 52px;
    }

    .banner__texto {
        font-size: 22px;
    }
}

@media screen and (min-width: 1440px) {
    .banner {
        width: 94.87%;
        padding-left: 7em;
    }

    .banner__link {
        width: 10%;
    }
}