.contato {
    display: flex;
    flex-direction: column;
    margin: 1em;
    gap: 15px;
}

.contato__titulo {
    font-size: 16px;
    font-weight: 700;
}

.rotulo {
    display: flex;
    flex-direction: column;
}

.contato-nome, .contato-mensagem {
    color: var(--placeholder);
    position: absolute;
}

.nome, .mensagem {
    border-style: none none solid none;
    padding-top: 3em;
}

.nome::placeholder {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza);
}