.cabecalho {
    background-color: var(--branco);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container__logo {
    margin: 1em;
}

.container__login {
    text-decoration: none;
    color: var(--azul);
    font-weight: 600;
    border: 1px solid var(--azul);
    padding: .75em 3em;
}

.pagina-login {
    display: none;
}

.container__pesquisa {
    display: none;
}

.container__pesquisa:checked~.container__rotulo > .cabecalho__pesquisa {
    background-image: url("../img/Lupa.svg");
}

.container__rotulo {
    margin-right: 1em;
}

.cabecalho__pesquisa {
    height: 24px;
    width: 24px;
    background-image: url("../img/Lupa.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.pesquisa {
    display: none;
}

.container__pesquisa:checked~.pesquisa {
    display: block;
    position: absolute;
    top: 100%;
    left: 40%;
    width: 50%;
    background-color: var(--fundo-pesquisa);
    color: var(--cinza);
    border: 0;
    border-radius: 20px 0 0 20px;
    padding: 1em;
}

.botao__pesquisa{
    display: none;
}

.container__pesquisa:checked~.botao__pesquisa {
    display: block;
    position: absolute;
    background-color: var(--fundo-pesquisa);
    border: 0;
    border-radius: 0 20px 20px 0;
    background-image: url(../img/Lupa.svg);
    background-position: center;
    height: 73%;
    width: 10%;
    background-repeat: no-repeat;
    top: 100%;
    left: 89%;
}

.pesquisa::placeholder {
    font-family: var(--fonte);
    font-size: 14px;
    font-weight: 400;
    color: var(--placeholder);
}

@media screen and (min-width: 768px) {
    .cabecalho__container {
        display: flex;
        justify-content: start;
    }

    .container__logo {
        margin-right: 3em;
    }

    .container__rotulo,
    .cabecalho__pesquisa {
        display: none;
    }

    .pesquisa-centro {
        display: block;
        position: absolute;
        left: 35%;
        width: 30%;
        background-color: var(--fundo-pesquisa);
        color: var(--cinza);
        border: 0;
        border-radius: 24px 0 0 24px;
        padding: 1em;
    }

    .botao__pesquisa {
        display: block;
        position: absolute;
        left: 65%;
        background-color: var(--fundo-pesquisa);
        border: 1px;
        border-radius: 0 20px 20px 0;
        background-image: url(../img/Lupa.svg);
        background-position: center;
        height: 43px;
        width: 3%;
        background-repeat: no-repeat;
    }

    .pesquisa-centro::placeholder {
        font-family: var(--fonte);
        font-size: 14px;
        font-weight: 400;
        color: var(--placeholder);
        background-position: right;
        padding: 1em;
    }

    .container__login {
        margin-right: 1em;
    }
}

@media screen and (min-width: 1440px) {
    .cabecalho__container {
        padding-left: 5em;
    }

    .cabecalho {
        padding: 1.5em 7em;
    }

    .container__login {
        font-size: 16px;
    }
}
