.lixeira {
    width: 100%;
    cursor: pointer;
}

.produto__lixeira {
    position: absolute;
    padding:0.5em 0 0 9em;
}

.lapis {
    width: 100%;
}

.produto__lapis {
    position: absolute;
    margin:0.5em 0 0 0.5em;
}