:root {
    --cinza: #464646;
    --branco: #FFFFFF;
    --azul: #2A7AE4;
    --fundo: #EAF2FD;

    --fonte: 'Raleway', sans-serif;
}

body {
    font-family: var(--fonte);
    font-size: 14px;
    font-weight: 500;
    background-color: var(--fundo);
}