.topicos {
    margin: 1em 1em;
}

.categoria-produto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.categoria {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
}

.titulo {
    font-size: 22px;
    font-weight: 700;
    margin: .5em 0;
}

.todos-produtos__titulo {
    margin: 1em;
}

.todos-produtos__botao {
    display: block;
    margin: 1em 1.5em;
}

.titulo-link {
    font-weight: 700;
    text-decoration: none;
    color: var(--azul);
    background-image: url("../img/Seta.svg");
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 1em;
}

.produtos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.item {
    display: flex;
    flex-direction: column;
    margin: 1em 1em 1em 1em;
}

.item-desktop {
    display: none;
}

.topicos__descricao {
    margin-top: .5em;
}

.topicos__valor {
font-size: 16px;
font-weight: 700;
margin: .5em 0;
}

.topicos__link {
    font-weight: 700;
    color: var(--azul);
    text-decoration: none;
}

.topicos__imagem {
    object-fit: cover;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .todos-produtos__titulo {
        margin: 1em 3em;
    }

    .todos-produtos__botao {
        margin: 1em 4.5em;
    }
}


@media screen and (min-width: 1440px) {
    .topicos {
        padding: 0 7em;
        margin: 0;
    }

    .categoria {
        margin-top: 5em;
    }

    .item-desktop {
        display: flex;
    }

    .todos-produtos__titulo {
        margin: 1em 1.5em;
    }

    .todos-produtos__botao {
        margin: 1em 2.5em;
    }
}